
@{
    ViewData["Title"] = "Index";
}

<h1>Import</h1>
<div class="form-group">
     <form method="post" asp-controller="Import" asp-action="Import">
       @* <input type="submit" value="Search" />*@
   
   


    <div class="row">
     

        <div class="col-md-4" style="margin-top:30px;">
        <div class="form-group">
           <label for="dsds"></label>
         <button type="submit" class="btn btn-primary" style="float:left;">Import</button>
        </div>
      </div>
    </div>
</form>
</div>
